@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.light-mode {
  --background-color: white;
  --display-text-color : #565455;
  --drawer-background : #ffffffcc;
  --drawer-text : #565455c0;
  --drawer-button-hover: #ddfffc;
}

.dark-mode {
  --background-color: black;
  --display-text-color : #4FE8DD;
  --drawer-background : rgba(0, 0, 0, 0.651);
  --drawer-text : #4fe8deaf;
  --drawer-button-hover: rgb(58, 57, 57);
}

body {
  height: 100vh;
  background-color: #bde3ee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  color: #565455;
}

.container {
  height: 720px;
  width: 320px;
  background-color: var(--background-color);
  padding: 20px 45px;
  position: relative;
}
